<main class="new-session__wrapper">
  <h1>Login</h1>

  <%= form_with url: "/login", method: "post", class: "new-session__form" do %>
  <label for="diary_key" class="new-session__label">
    <div class="new-session__label-text">
      Diary key
      <span class="new-session__label-error" id="alert"><%= alert %></span>
    </div>
    <%= password_field_tag :diary_key, nil, class: "new-session__input" %>
  </label>

  <div class="new-session__button-wrapper">
    <%= submit_tag "Login", class: "new-session__button" %> <% end %>
  </div>
</main>
