h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem;
  font-family: 'Merriweather',
    Georgia,
    'Times New Roman',
    Times,
    serif;
  padding: .5em;
  color: #222;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem;
}

button {
  cursor: pointer;
}