@import '../../lib/variables'

.new-entry__main-wrapper
  display: flex
  flex-direction: column
  align-items: center
  margin: 5em 0 5em 0
  width: 90vw
  max-width: 500px

.new-entry__title
  font-family: $font-family-serif
  font-style: italic
  font-weight: 400
  font-size: 1.25rem
  text-align: center
  margin-bottom: 1em

.new-entry__button-wrapper
  display: flex
  width: 100%
  margin-top: 1em

  &--space-between
    @extend .new-entry__button-wrapper
    justify-content: space-between

  &--center
    @extend .new-entry__button-wrapper
    justify-content: center

.new-entry__button--save
  background-color: $color-primary
  color: $color-primary-inverse
  padding: .5em .75em
  border: 0
  outline: 0
  border-radius: $border-radius
  font-size: .75rem
  border: 2px solid $color-primary

  &:focus
    background-color: transparentize($color-primary, .1)
    border: 2px solid darken($color-primary, 2.5%)
    box-shadow: none

.new-entry__button--view-all-fields
  @extend .new-entry__button--save
  background-color: $color-primary-inverse
  color: $color-primary
  border: 2px solid $color-primary

  &:focus
    background-color: transparentize($color-primary, .9)
    border: 2px solid $color-primary
    box-shadow: none
