.new-entry__form {
  /* margin: 2em; */
}

.new-entry__label {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: .5em;
}

.new-entry__input {
  border: 1px solid #ddd;
  padding: .5em;
  border-radius: .25em;
  font-size: 1rem;
  margin: .5em 0;
}

.new-entry__button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.new-entry__button--add {
  border: 0;
  outline: 0;
  font-size: .75rem;
  margin: 1em;
  margin-top: .5em;
  max-width: max-content;
}

.new-entry__title {
  font-family: 'Merriweather',
    Georgia,
    'Times New Roman',
    Times,
    serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2em;
}